In [1]:
# In this file - There are the following functions 
#     A text file that is converted into a data frame using if/else
#     Labeling columns 
#     Removing unwanted information (paretentheses)
    
import numpy as np
import pandas as pd

In [2]:
#df = pd.read_csv("/Users/jordancreenaune/Desktop/Python_for_Data_Science/Python_Progress/BL-Flickr-Images-Book.csv")

In [3]:
#This statement imports a text file and creates a data frame with it and labels it as university_towns

university_towns = []
with open("/Users/jordancreenaune/Desktop/Python_for_Data_Science/Python_Progress/university_towns.txt") as file:
        for line in file:
         if '[edit]' in line:
            # Remember this `state` until the next is found
             state = line
         else:
             # Otherwise, we have a city; keep `state` as last-seen
             university_towns.append((state, line))

university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [4]:
#This statement turns the above 

towns_df = pd.DataFrame(university_towns,
                         columns=['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [5]:
#This function iterates through EACH element in the data frame removing and deleting useless information  
#It delets things AFTER the parentheses in the if statement 

def get_citystate(item):
     if ' (' in item:
         return item[:item.find(' (')]
     elif '[' in item:
         return item[:item.find('[')]
     else:
         return item

In [6]:
towns_df =  towns_df.applymap(get_citystate)

In [7]:
towns_df

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]